@use 'assets/scss/_variables.scss';
@use 'assets/scss/_boxes.scss';


.box--brunbox{
    background-color: variables.$brunbox;
    border-radius: variables.$border-radius;
    color: variables.$skrift-hvid;
    border: 2px solid variables.$brun-kantina;
    
}